<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>

		<!--Kafka-->
		<add key="KafkaUrl" value="localhost:9092" />

		<!--Google-->
		<add key="Google.Api.BaseUrl" value="https://www.googleapis.com/books/v1/" />
		<add key="Google.Api.ImageBaseUrl" value="http://books.google.com/" />

		<add key="MainColor" value="#2E3349" />
		
		<!--Paths-->
		<add key="ConfigPath" value="..\..\..\config.txt" />
		
		<add key="SnapshotPath" value="..\..\..\Pictures\input.bmp" />
		<add key="LoadingImagePath" value="..\..\..\Pictures\loading.png" />
		<add key="CroppedImagePath" value="..\..\..\Pictures\cropped.png" />
		<add key="BackgroundImagePath" value="..\..\..\Pictures\white.png" />
	</appSettings>
</configuration>